@using lnn_ui.Models
@using ApexCharts
<div style="max-width: 1000px">
    <ApexChart Title="Weather Data" TItem="LnnOutput">
        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Nature"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Nature"/>
        
        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Intensity"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Intensity"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Latitude (degrees)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Latitude"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Longitude (degrees)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Longitude"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Wind (kts)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Wind"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Pressure (mb)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Pressure"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Gust (kts)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Gust"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Eye (nmile)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.Eye"/>

        <ApexPointSeries TItem="LnnOutput"
                         Items="GraphInput"
                         SeriesType="SeriesType.Line"
                         Name="Storm Speed (kts)"
                         XValue="output => output.Index"
                         YValue="output => (decimal?)output.StormSpeed"/>
    </ApexChart>
</div>


@code {
    [Parameter] public List<LnnOutput> GraphInput { get; set; } = [];
}