.header-title {
    color: #1a365d;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

table, td, th {
    width: 50%;
    border: 2px solid;
    border-collapse: collapse;
    letter-spacing: 1px;
    text-align: center;
}

p {
    letter-spacing: 1px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.square-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
}

.square {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: black;
}
