@page "/About"

<PageTitle>About</PageTitle>

<h1>Cyclone Definition</h1>

<p>A cyclone is defined "as a system of winds rotating inwards to an area of low barometric pressure". <br> <br>
In order for cyclones to form, it must be over sea surface temperatures of 26 degrees. The warm water causes <br>
the water to evaporate, and form clouds and if there is low atmospheric pressure, the clouds are pulled in <br> 
and begin to rotate. <br> <br> A cyclone can be categorised by its nature and intensity, where nature refers <br>
to its title and intensity to its numerical rating; both mutually inclusive.</p>

<ul>
    <li></li>
</ul>