@page "/About"

<PageTitle>About</PageTitle>

<head>
    <link href="sds app/ui/Components/Pages/About.razor.css" rel="stylesheet">
</head>

<div>
    <h1 class="main-title">Cyclone Definition</h1>

    <br>

    <p>A cyclone is defined "as a system of winds rotating inwards to an area of low barometric pressure". <br> <br>
    In order for cyclones to form, it must be over sea surface temperatures of 26 degrees. The warm water causes
    the water to evaporate, and form clouds and if there is low atmospheric pressure, <br> the clouds are pulled in 
    and begin to rotate. <br> <br> A cyclone can be categorised by its nature and intensity, where nature refers
    to its title and intensity to its numerical rating; both mutually inclusive.</p>

    <table class="classification-table">
        <tr>
            <th>Classifications:</th>
        </tr>
        <tr>
            <th>Nature:</th>
            <th>Intensity:</th>
        </tr>
        <tr>
            <td>Disturbance</td>
            <td>0 - 0.9</td>
        </tr>
        <tr>
            <td>Tropical Depression</td>
            <td>1 - 1.9</td>
        </tr>
        <tr>
            <td>Tropical Storm</td>
            <td>2 - 2.9</td>
        </tr>
        <tr>
            <td>Tropical Cyclone</td>
            <td>3 - 3.9</td>
        </tr>
        <tr>
            <td>Moderate Tropical Cyclone</td>
            <td>4 - 4.9</td>
        </tr>
        <tr>
            <td>Severe Tropical Cyclone</td>
            <td>5+</td>
        </tr>
    </table>
</div>

<br>

<div>
    <h1>How the model works</h1>

    <p>The data is processed and analysed from existing datasets recorded near the premises of Vanuatu. (insert AI mumbo jumbo) <br> <br>
    A colour-grade system is displayed for users to easily interpret the magnitude of each statistical feature. (insert rating image)</p>
</div>