.container {
<<<<<<< HEAD
    width: 600px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: var(--font-color);
    margin-bottom: 20px;
}

.card {
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--font-color);
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #D3D3D3;
}

input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:disabled {
    background-color: #999;
    cursor: not-allowed;
    opacity: 0.7;
    transform: none;
    box-shadow: none;
}

button:disabled:hover {
    background-color: #999;
    transform: none;
}

.response {
    margin-top: 15px;
    font-size: 1rem;
    color: var(--font-color);
}

.graph-container {
    margin-top: 20px;
    background-color: var(--card-background);
    border-radius: 8px;
    overflow: hidden;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
    
    .graph-container {
        overflow-x: auto;
    }
=======
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.label {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.count-card {
    display: flex;
    gap: 1rem;
}

.input-box {
    flex: 1;
    height: 2.6em;
    width: 200px;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.data-button {
    height: 2.6em;
    padding: 1 1.2em;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.data-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.graph-container {
    width: 100%;
    /* max-width: 600px; */
    margin-top: 1em;
}

.error-message {
    color: red;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
>>>>>>> 733c1ec228198276f21d4b128d3b836f7a6f6bab
}