@page "/graphs"
@rendermode InteractiveServer

<label for="countInput">Count:</label>
<input id="countInput" type="text" @bind="_count">
<button @onclick="GetData" disabled="@(_count <= 0)">Get Data</button>
@if (_dataButtonClicked)
{
    <Graph GraphInput="_data"/>
    <p>Data obtained!</p>
}
else if (_dataButtonClicked && _data.Count == 0)
{
    <p>Data could not be obtained</p>
}

