@page "/graphs"
@rendermode InteractiveServer

<div class="container">
    <h1>Cyclone Data Visualization</h1>

    <div class="card">
        <form>
            <div class="form-group">
                <label>Count:</label>
                <input type="number" @bind="_count" placeholder="Enter count value" />
            </div>

            <button type="button" @onclick="GetData" disabled="@(_count <= 0)">Get Data</button>

            @if (_dataButtonClicked)
            {
                <div class="graph-container">
                    <Graph GraphInput="_data"/>
                </div>
            }
            else if (_dataButtonClicked && _data.Count == 0)
            {
                <div class="response">
                    <p>Data could not be obtained</p>
                </div>
            }
        </form>
    </div>
</div>