@page "/graphs"
@rendermode InteractiveServer

<div class="container">
<<<<<<< HEAD
    <h1>Cyclone Data Visualization</h1>

    <div class="card">
        <form>
            <div class="form-group">
                <label>Count:</label>
                <input type="number" @bind="_count" placeholder="Enter count value" />
            </div>

            <button type="button" @onclick="GetData" disabled="@(_count <= 0)">Get Data</button>

            @if (_dataButtonClicked)
            {
                <div class="graph-container">
                    <Graph GraphInput="_data"/>
                </div>
            }
            else if (_dataButtonClicked && _data.Count == 0)
            {
                <div class="response">
                    <p>Data could not be obtained</p>
                </div>
            }
        </form>
    </div>
=======
    <label for="countInput" class="label">Count:</label>
    <div class="count-card">
        <input id="countInput" type="text" @bind="_count" class="input-box" />
        <button @onclick="GetData" disabled="@(_count <= 0)" class="data-button">
            Get Data
        </button>
    </div>

    @if (_dataButtonClicked)
    {
        <div class="graph-container">
            <Graph GraphInput="_data"/>
        </div>
    }
    else if (_dataButtonClicked && _data.Count == 0)
    {
        <p class="error-message">Data could not be obtained</p>
    }
>>>>>>> 733c1ec228198276f21d4b128d3b836f7a6f6bab
</div>