@page "/"
@rendermode InteractiveServer
@using lnn_ui.Models
@using lnn_ui.Services

<PageTitle>Home</PageTitle>

<h1>Cyclone Detector</h1>

@if (_prediction is {Temperature: not 0})
{
    <h2>Current chance of a cyclone is @_prediction.Prediction%</h2>
    <h2>Most Recent Data:</h2>
    <p>Temperature: @_prediction.Temperature</p>
    <p>Vorticity: @_prediction.Vorticity</p>
    <p>Data last updated: @_lastUpdated</p>
    <button @onclick="Update">Update Now</button>
}
else
{
    <p>Loading...</p>
}


@code {
    [Inject] PredictionService? PredictionService { get; set; }
    LnnOutput? _prediction;
    DateTime _lastUpdated;
    
    protected override async Task OnInitializedAsync()
    {
        await Update();
    }

    private async Task Update()
    {
        _prediction = await PredictionService!.GetPrediction();
        _lastUpdated = DateTime.Now;
    }
}